.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}
.script{
  background-color: black;
}
.headerCon{
  width: 100%;
  display: inline-block;
  align-items: right;
}
@media screen and (max-width:800px){
  .App-header{
    font-size: calc(5px + 1vmin);
  }
}
.btn{
  color: azure;
  font-weight: bold;
  float: right;
  padding-left: 50px;
  cursor: pointer;
  width: 15%;
  text-align: center;
  align-items: center;
}
.btn:hover{
  color: rgb(139, 0, 127);
}
.sticky{
  height: 40px;
  position: fixed;
}
.high{
  height: 1000px;
}